/* <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 10px;
    margin-right: 10px;
}

input[type="submit"] {
    width: 100px;
    height: 35px;
    border: none;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #037f58;
}


.result {
    color: blue;
    font-size: 20px;
    margin-top: 20px;
}


.table {
    width: 100%;
    border-collapse: collapse;
}
.table, .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.table-striped tr:nth-child(even) {
    background-color: #f2f2f2;
}

slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    padding: 15px;
}

ul {
    list-style-type: none;

}

button {
margin: 5px;
padding: 5px 10px;
font-size: 16px;
}

.results-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.title {
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.column-button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.data-container {
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.data-link {
    color: #007bff; /* Example: blue color */
    text-decoration: none;
    font-weight: bold;
    /* Add more styling as needed */
}

.data-link:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline;
}


.Profile-to-Stats-Filter {
    background-color: #04AA6D;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.Profile-to-Stats-Filter a {
    text-decoration: none;
    color: white;
}

.Profile-to-Stats-Filter {
    background-color: #04715D; /* Change the color on hover */
    color: #fff;
}