<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed Filtered Stats Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>Detailed Filtered Stats Page</h1>
        <p>Stats of {{ cell_value }}</p>
        <p>Category: {{ column_name }}</p>
        <p>Playing Team: {{ playing_team }}</p>
        <p>Opposition: {{ opposition }}</p>
        <p>Venue: {{ ', '.join(venue) }}</p>
        <p>Ground: {{ ground }}</p>
        <p>Start Date: {{ start_date }}</p>
        <p>End Date: {{ end_date }}</p>
        <p>Season: {{ season }}</p>
        <p>Match Result: {{ ', '.join(match_result) }}</p>
        <p>View Format: {{ view_format }}</p>
        <p>View Type: {{ view_type }}</p>
    </div>
    <h2>Batting Stats</h2>
    <div class="content">
        <table>
            {{ df_bat_innings|safe }}
        </table>
        
    </div>
    <h2>Bowling Stats</h2>
    <div class="content">
        <table>
            {{ df_bowl_innings|safe }}
        </table>
        
    </div>
    <h2>Fielding Stats</h2>
    <div class="content">
        <table>
            {{ df_field_innings|safe }}
        </table>
        
    </div>
</body>
</html>
