<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Column Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>Profile of {{ column_name }}: {{ cell_value }}</h1>
        <!-- Batter Stats -->
        <h2>Batting Statistics</h2>
        <div id="batter-stats">
            {{ table_html_batter|safe }}
        </div>
        <!--Bowler Stats-->
        <h2>Bowling Statistics</h2>
        <div id="bowling-stats">
            {{ table_html_bowler|safe }}
        </div>
        <h2>Fielding Statistics</h2>
        <div id="bowling-stats">
            {{ table_html_fielder|safe }}
        </div>
        
    </div>
    <h2> </h2>
    <div class="Profile-to-Stats-Filter">
        <a href="{{ url_for('stats_filter', cell_value=cell_value, column_name=column_name) }}" class="btnn btn-primary">Go to Stats Filter Page</a>
    </div>    
</body>
</html>